{% extends 'base.html.twig' %}

{% block title %}
	Profile/StudyOn
{% endblock %}

{% block body %}
	<h1 class="username">{{ user.username }}</h1>
	<h3 class="card-text">Баланс:
		<div class="balance">{{ user.balance }}</div>Р</h3>
	<ol class="list-group list-group-numbered roles">
		{% for role in user.roles %}
			<li class="list-group-item role">
				{{ role }}
			</li>
		{% endfor %}
	</ol>
{% endblock %}
