{% extends 'base.html.twig' %}

{% block title %}
	Profile/StudyOn
{% endblock %}

{% block body %}
	<h1 class="username">{{ user.username }}</h1>
	<h3 class="card-text">{{ user.balance }}</h3>
    <ol class="list-group list-group-numbered roles">
		{% for role in user.roles %}
			<li class="list-group-item role">
                {{ role }}
			</li>
		{% endfor %}
	</ol>
	
	<div>
		<a class="btn btn-outline-secondary" href="{{ path('app_logout') }}">Выход</a>
	</div>
{% endblock %}
