{% extends 'base.html.twig' %}

{% block title %}StudyOn
{% endblock %}

{% block body %}
	<h1>Редактировать курс</h1>

	{{ include('course/_form.html.twig', {'button_label': 'Обновить'}) }}

	<a href="{{ path('app_course_index') }}">Вернуться к списку курсов</a>

	{{ include('course/_delete_form.html.twig') }}
{% endblock %}
