{% extends 'base.html.twig' %}

{% block title %}Edit Lesson{% endblock %}

{% block body %}
    <h1>Редактировать урок</h1>

    {{ include('lesson/_form.html.twig', {'button_label': 'Обновить'}) }}

    <a href="{{ path('app_course_show', {'id': lesson.course.id}) }}">Вернуться к курсу</a>

    {{ include('lesson/_delete_form.html.twig') }}
{% endblock %}
