{% extends 'base.html.twig' %}

{% block title %}
	{{lesson.course.name}}/StudyOn
{% endblock %}

{% block body %}
	<h1>Создать новый урок</h1>

	{{ include('lesson/_form.html.twig') }}

	<a href="{{ path('app_course_show', {'id': lesson.course.id}) }}">Вернуться к курсу</a>
{% endblock %}
