{% extends 'base.html.twig' %}

{% block body %}
    <h1>Не, ну это какое-то безобразие</h1>
    <p>
        Ха птьфу 
        <a href="{{ path('app_course_index') }}"> 
            На помощб.
        </a>
    </p>
{% endblock %}