{% extends 'base.html.twig' %}

{% block body %}
	<h1>Запрещенка</h1>
	<p>
		Вы немножко бесправны, приходите после админской революции.
		<a href="{{ path('app_course_index') }}">
			Грустно уйти
        </a>.
	</p>
{% endblock %}
