{# templates/bundles/TwigBundle/Exception/error404.html.twig #}
{% extends 'base.html.twig' %}

{% block body %}
    <h1>Страничка не найдена 💅🏼</h1>

    <p>
        Запрашиваемая ✨✨страничка✨✨ не может быть найдена😘. Проверьте УРЛик на опечаточки😂😝 или <a href="{{ path('app_course_index') }}">🥰🥰уходите отсюда🥰🥰</a>.
    </p>
{% endblock %}