{% extends 'base.html.twig' %}

{% block body %}
    <h1>Что-то странное творится в Датском королевстве</h1>
    <p>
        Админ умер от кринжа <a href="{{ path('app_course_index') }}"> Помянем</a>.
    </p>
{% endblock %}