{% extends 'base.html.twig' %}

{% block body %}
    <h1>Очередная жертва гайдов ожерельева</h1>
    <p>
        Админ умер от кринжа 
        <a href="{{ path('app_course_index') }}"> 
            Выйти из системы.
        </a>
    </p>
{% endblock %}